<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>user here</h1>
    <a href="#/dashboard">home</a>
    <a href="#/logout">logout</a>
    <div ng-controller="bucketController">

        <ul>
        <li>
            {{bucketusers.name}}<br>

      <ul>
        Done <br>
        <li ng-repeat="bucket in bucketusers.buckets | filter:'true'"><input type="checkbox" ng-model="bucket.checked">
          {{bucket.user.name}} | {{bucket.title}} - {{bucket.description}}  {{bucket.createdAt|date: 'MMM dd y'}}</li>
      </ul>

      <ul>
        pending <br>
  <li ng-repeat="bucket in bucketusers.buckets | filter:'false'"><input type="checkbox" ng-model="bucket.checked">
    {{bucket.user.name}} | {{bucket.title}} - {{bucket.description}}  {{bucket.createdAt|date: 'MMM dd y'}}</li>
</ul>
  </li>
</ul>
  </div>
  </body>
</html>
